## Build and track our portfolio based on our trades.

In [1]:
import pandas as pd
import yfinance as yf
import plotly.graph_objects as go

Spoofing the data for now. Could come from xlsx or  pull from broker if there is an API

In [2]:
data = {'tickers': ['BTC-AUD', 'BOE.AX', 'PDN.AX'] ,
        'prices': [10000, 0.34, 0.40 ],
        'amounts': [13, 3000, 2100],
        'dates': ['2021-01-01', '2020-02-01', '2021-01-01']}  # Spoofing for now. Could come from xlsx or  pull from broker if there is an API

We load the data into a pandas dataframe

In [3]:
trade_data = pd.DataFrame.from_dict(data)

In [4]:
trade_data.head()

   tickers    prices  amounts       dates
0  BTC-AUD  10000.00       13  2021-01-01
1   BOE.AX      0.34     3000  2020-02-01
2   PDN.AX      0.40     2100  2021-01-01

So we wish to see how each trade has done on a daily basis.  We will use yfinance for now, could get from any number of APIs 

If you haven't already, `pip install yfinance` in a terminal

Lets define some constants which we will use to setup the scope of our analysis

In [5]:
PERIOD = '1D' # Daily
END = '2021-06-05' #  could use datetime.now

In [6]:
quotes = [] # empty list for storing quotes

for ticker, date in zip(trade_data['tickers'], trade_data['dates'] ):
    _quote = yf.Ticker(ticker)
    quotes.append(_quote.history(period=PERIOD, start=date, end=END))

In [7]:
quotes[0].head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-12-31,37515.300781,38024.976562,36470.363281,37668.855469,60727639338,0,0
2021-01-01,37658.839844,38417.914062,37410.789062,38181.992188,52943282221,0,0
2021-01-02,38184.984375,43096.679688,37814.171875,41760.628906,88214867182,0,0
2021-01-03,41763.410156,44985.933594,41663.203125,42511.105469,102011582370,0,0
2021-01-04,42548.613281,43360.960938,37133.984375,41686.386719,105824510347,0,0

In [8]:
quotes[1].head()

             Open   High    Low  Close   Volume  Dividends  Stock Splits
Date
2020-02-03  0.048  0.048  0.047  0.048  2475057          0             0
2020-02-04  0.048  0.048  0.046  0.047   749366          0             0
2020-02-05  0.047  0.047  0.045  0.046  1720348          0             0
2020-02-06  0.046  0.046  0.044  0.044   811628          0             0
2020-02-07  0.044  0.047  0.044  0.047   415795          0             0

----------
Lets open some candlestick charts [Helpful link](https://coderzcolumn.com/tutorials/data-science/candlestick-chart-in-python-mplfinance-plotly-bokeh)  Lets use Plotly for now.  `pip install plotly`

To use Plotly need to install [Node.js](https://nodejs.org/en/download/current/)    Do this by typing into a terminal

`conda install jodejs`   
followed by:   
`jupyter labextension install @jupyterlab/plotly-extension`   
----------------

Now lets make a little dropdown box for us to chose the ticker we want to see below in the plot    
`conda install ipywidgets`    
`jupyter labextension install @jupyter-widgets/jupyterlab-manager`

In [29]:
from ipywidgets import interact, interact_manual

In [31]:
@interact()
def make_plot(ticker=data['tickers']):

    ii = data['tickers'].index(ticker)
    candlestick = go.Candlestick(x=quotes[ii].index,
                                open=quotes[ii]['Open'],
                                high=quotes[ii]['High'],
                                low=quotes[ii]['Low'],
                                close=quotes[ii]['Close'])

    fig = go.Figure(data=[candlestick])
    fig.update_layout(xaxis_rangeslider_visible=False,
                     title=trade_data['tickers'][ii],
                     template='plotly_dark')

    fig.show()

interactive(children=(Dropdown(description='ticker', options=('BTC-AUD', 'BOE.AX', 'PDN.AX'), value='BTC-AUD')â€¦